@model MummyProject.Models.Burial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Burial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BurialId" />
            <div class="form-group">
                <label asp-for="BurialLocationNs" class="control-label"></label>
                <input asp-for="BurialLocationNs" class="form-control" />
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEw" class="control-label"></label>
                <input asp-for="BurialLocationEw" class="form-control" />
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairNs" class="control-label"></label>
                <input asp-for="LowPairNs" class="form-control" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNs" class="control-label"></label>
                <input asp-for="HighPairNs" class="form-control" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEw" class="control-label"></label>
                <input asp-for="LowPairEw" class="form-control" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEw" class="control-label"></label>
                <input asp-for="HighPairEw" class="form-control" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSubplot" class="control-label"></label>
                <input asp-for="BurialSubplot" class="form-control" />
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label"></label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToHead" class="control-label"></label>
                <input asp-for="SouthToHead" class="form-control" />
                <span asp-validation-for="SouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToFeet" class="control-label"></label>
                <input asp-for="SouthToFeet" class="form-control" />
                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastToHead" class="control-label"></label>
                <input asp-for="EastToHead" class="form-control" />
                <span asp-validation-for="EastToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EastToFeet" class="control-label"></label>
                <input asp-for="EastToFeet" class="form-control" />
                <span asp-validation-for="EastToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderGe" class="control-label"></label>
                <input asp-for="GenderGe" class="form-control" />
                <span asp-validation-for="GenderGe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeEstimate" class="control-label"></label>
                <input asp-for="AgeEstimate" class="form-control" />
                <span asp-validation-for="AgeEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfRemains" class="control-label"></label>
                <input asp-for="LengthOfRemains" class="form-control" />
                <span asp-validation-for="LengthOfRemains" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label"></label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleNumber" class="control-label"></label>
                <input asp-for="SampleNumber" class="form-control" />
                <span asp-validation-for="SampleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeFunctionTotal" class="control-label"></label>
                <input asp-for="GeFunctionTotal" class="form-control" />
                <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderBodyCol" class="control-label"></label>
                <input asp-for="GenderBodyCol" class="form-control" />
                <span asp-validation-for="GenderBodyCol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasilarSuture" class="control-label"></label>
                <input asp-for="BasilarSuture" class="form-control" />
                <span asp-validation-for="BasilarSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentralArc" class="control-label"></label>
                <input asp-for="VentralArc" class="form-control" />
                <span asp-validation-for="VentralArc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubpubicAngle" class="control-label"></label>
                <input asp-for="SubpubicAngle" class="form-control" />
                <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SciaticNotch" class="control-label"></label>
                <input asp-for="SciaticNotch" class="form-control" />
                <span asp-validation-for="SciaticNotch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicBone" class="control-label"></label>
                <input asp-for="PubicBone" class="form-control" />
                <span asp-validation-for="PubicBone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreaurSulcus" class="control-label"></label>
                <input asp-for="PreaurSulcus" class="form-control" />
                <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedialIpRamus" class="control-label"></label>
                <input asp-for="MedialIpRamus" class="form-control" />
                <span asp-validation-for="MedialIpRamus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DorsalPitting" class="control-label"></label>
                <input asp-for="DorsalPitting" class="form-control" />
                <span asp-validation-for="DorsalPitting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForemanMagnum" class="control-label"></label>
                <input asp-for="ForemanMagnum" class="form-control" />
                <span asp-validation-for="ForemanMagnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurHead" class="control-label"></label>
                <input asp-for="FemurHead" class="form-control" />
                <span asp-validation-for="FemurHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusHead" class="control-label"></label>
                <input asp-for="HumerusHead" class="form-control" />
                <span asp-validation-for="HumerusHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osteophytosis" class="control-label"></label>
                <input asp-for="Osteophytosis" class="form-control" />
                <span asp-validation-for="Osteophytosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicSymphysis" class="control-label"></label>
                <input asp-for="PubicSymphysis" class="form-control" />
                <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoneLength" class="control-label"></label>
                <input asp-for="BoneLength" class="form-control" />
                <span asp-validation-for="BoneLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedialClavicle" class="control-label"></label>
                <input asp-for="MedialClavicle" class="form-control" />
                <span asp-validation-for="MedialClavicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IlacCrest" class="control-label"></label>
                <input asp-for="IlacCrest" class="form-control" />
                <span asp-validation-for="IlacCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurDiameter" class="control-label"></label>
                <input asp-for="FemurDiameter" class="form-control" />
                <span asp-validation-for="FemurDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Humerus" class="control-label"></label>
                <input asp-for="Humerus" class="form-control" />
                <span asp-validation-for="Humerus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurLength" class="control-label"></label>
                <input asp-for="FemurLength" class="form-control" />
                <span asp-validation-for="FemurLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusLength" class="control-label"></label>
                <input asp-for="HumerusLength" class="form-control" />
                <span asp-validation-for="HumerusLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TibiaLength" class="control-label"></label>
                <input asp-for="TibiaLength" class="form-control" />
                <span asp-validation-for="TibiaLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Robust" class="control-label"></label>
                <input asp-for="Robust" class="form-control" />
                <span asp-validation-for="Robust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupraorbitalRidges" class="control-label"></label>
                <input asp-for="SupraorbitalRidges" class="form-control" />
                <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrbitEdge" class="control-label"></label>
                <input asp-for="OrbitEdge" class="form-control" />
                <span asp-validation-for="OrbitEdge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParietalBossing" class="control-label"></label>
                <input asp-for="ParietalBossing" class="form-control" />
                <span asp-validation-for="ParietalBossing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gonian" class="control-label"></label>
                <input asp-for="Gonian" class="form-control" />
                <span asp-validation-for="Gonian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuchalCrest" class="control-label"></label>
                <input asp-for="NuchalCrest" class="form-control" />
                <span asp-validation-for="NuchalCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZygomaticCrest" class="control-label"></label>
                <input asp-for="ZygomaticCrest" class="form-control" />
                <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CranialSuture" class="control-label"></label>
                <input asp-for="CranialSuture" class="form-control" />
                <span asp-validation-for="CranialSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialLength" class="control-label"></label>
                <input asp-for="MaximumCranialLength" class="form-control" />
                <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialBreadth" class="control-label"></label>
                <input asp-for="MaximumCranialBreadth" class="form-control" />
                <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionBregmaHeight" class="control-label"></label>
                <input asp-for="BasionBregmaHeight" class="form-control" />
                <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionNasion" class="control-label"></label>
                <input asp-for="BasionNasion" class="form-control" />
                <span asp-validation-for="BasionNasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionProsthionLength" class="control-label"></label>
                <input asp-for="BasionProsthionLength" class="form-control" />
                <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BizygomaticDiameter" class="control-label"></label>
                <input asp-for="BizygomaticDiameter" class="form-control" />
                <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NasionProsthion" class="control-label"></label>
                <input asp-for="NasionProsthion" class="form-control" />
                <span asp-validation-for="NasionProsthion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumNasalBreadth" class="control-label"></label>
                <input asp-for="MaximumNasalBreadth" class="form-control" />
                <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterorbitalBreadth" class="control-label"></label>
                <input asp-for="InterorbitalBreadth" class="form-control" />
                <span asp-validation-for="InterorbitalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtifactDescription" class="control-label"></label>
                <input asp-for="ArtifactDescription" class="form-control" />
                <span asp-validation-for="ArtifactDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label"></label>
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresevationIndex" class="control-label"></label>
                <input asp-for="PresevationIndex" class="form-control" />
                <span asp-validation-for="PresevationIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairTaken" class="control-label"></label>
                <input asp-for="HairTaken" class="form-control" />
                <span asp-validation-for="HairTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftTissueTaken" class="control-label"></label>
                <input asp-for="SoftTissueTaken" class="form-control" />
                <span asp-validation-for="SoftTissueTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoneTaken" class="control-label"></label>
                <input asp-for="BoneTaken" class="form-control" />
                <span asp-validation-for="BoneTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothTaken" class="control-label"></label>
                <input asp-for="ToothTaken" class="form-control" />
                <span asp-validation-for="ToothTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextileTaken" class="control-label"></label>
                <input asp-for="TextileTaken" class="form-control" />
                <span asp-validation-for="TextileTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfTaken" class="control-label"></label>
                <input asp-for="DescriptionOfTaken" class="form-control" />
                <span asp-validation-for="DescriptionOfTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtifactFound" class="control-label"></label>
                <input asp-for="ArtifactFound" class="form-control" />
                <span asp-validation-for="ArtifactFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateLivingStature" class="control-label"></label>
                <input asp-for="EstimateLivingStature" class="form-control" />
                <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothAttrition" class="control-label"></label>
                <input asp-for="ToothAttrition" class="form-control" />
                <span asp-validation-for="ToothAttrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothEruption" class="control-label"></label>
                <input asp-for="ToothEruption" class="form-control" />
                <span asp-validation-for="ToothEruption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathologyAnomolies" class="control-label"></label>
                <input asp-for="PathologyAnomolies" class="form-control" />
                <span asp-validation-for="PathologyAnomolies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpiphysealUnion" class="control-label"></label>
                <input asp-for="EpiphysealUnion" class="form-control" />
                <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearFound" class="control-label"></label>
                <input asp-for="YearFound" class="form-control" />
                <span asp-validation-for="YearFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthFound" class="control-label"></label>
                <input asp-for="MonthFound" class="form-control" />
                <span asp-validation-for="MonthFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayFound" class="control-label"></label>
                <input asp-for="DayFound" class="form-control" />
                <span asp-validation-for="DayFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadDirection" class="control-label"></label>
                <input asp-for="HeadDirection" class="form-control" />
                <span asp-validation-for="HeadDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrappingCode" class="control-label"></label>
                <input asp-for="WrappingCode" class="form-control" />
                <span asp-validation-for="WrappingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeCode" class="control-label"></label>
                <input asp-for="AgeCode" class="form-control" />
                <span asp-validation-for="AgeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexMethod" class="control-label"></label>
                <input asp-for="SexMethod" class="form-control" />
                <span asp-validation-for="SexMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMethod" class="control-label"></label>
                <input asp-for="AgeMethod" class="form-control" />
                <span asp-validation-for="AgeMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoId" class="control-label"></label>
                <input asp-for="PhotoId" class="form-control" />
                <span asp-validation-for="PhotoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack" class="control-label"></label>
                <input asp-for="Rack" class="form-control" />
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelf" class="control-label"></label>
                <input asp-for="Shelf" class="form-control" />
                <span asp-validation-for="Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldNotes" class="control-label"></label>
                <input asp-for="FieldNotes" class="form-control" />
                <span asp-validation-for="FieldNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
