@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <!--Project Description-->
    <div class="text-left border border-dark rounded">
        <p style="margin: 20px">
            Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies. Detailed background information on this site can be found in the academic article
            <br />“<a href="https://www-sciencedirect-com.erl.lib.byu.edu/science/article/pii/S2352409X15000188">Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt</a>.”
        </p>
        <p style="margin: 20px">
            During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the items excavated including carbon dating, DNA sequencing, and others.
        </p>
    </div>
    <br /><br />

    <!--View Burial Information-->
    <a class="btn btn-info" style="font-size: 18px" asp-area="" asp-controller="Burials" asp-action="Index">Check It Out!</a>
</div>
